{{outlet}}
  <button type="button" class="btn btn-xs btn-info"  {{action "importData" }}>Sync Data </button>

  <button type="button" class="btn btn-xs btn-info"  {{action "addOne" }}>Add</button>
  <button type="button" class="btn btn-xs btn-info"  {{action "findOne" }}>Find One</button>
