<h1>QualityOnline</h1>

{{outlet}}

{{#link-to "colleges"}}Colleges{{/link-to}}
{{#link-to "departments"}}Departments{{/link-to}}
{{#if session.isAuthenticated}}

{{else}}
  {{#link-to "login"}}Login{{/link-to}}
{{/if}}
