<h2>Quality Online by College</h2>
{{outlet}}
<ul>
  {{#each model as |scientist|}}
    <li>{{scientist}}</li>
  {{/each}}
</ul>
{{log model}}
<!--
{{people-list title="List of Scientists" people=model}} -->
