<div class="row">
  <div class="col-lg-12">
    <h1>Dashboard</h1>
  </div>
</div><!-- /.row -->


  <div class="col-lg-12">
    <div class="row">

      {{#each model as |college|}}
        {{quality-chart college=college}}
        {{log college}}
      {{/each}}


    </div>
  </div>
